<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Contextual menu items for media elements:</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>mediaDownload</string>
		<key>Title</key>
		<string>Download Media</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>mediaQTP</string>
		<key>Title</key>
		<string>Open in QuickTime Player</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>mediaAirPlay</string>
		<key>Title</key>
		<string>Send via AirPlay</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Contextual menu items for links:</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>linksQTP</string>
		<key>Title</key>
		<string>Open in QuickTimePlayer</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>linksAirPlay</string>
		<key>Title</key>
		<string>Send via AirPlay</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>none</string>
		<key>Key</key>
		<string>override</string>
		<key>Title</key>
		<string>Initial behavior override</string>
		<key>Titles</key>
		<array>
			<string>—</string>
			<string>Disable autoplay</string>
			<string>Disable preloading</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>autoplay</string>
			<string>preload</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>apple-tv.local</string>
		<key>Key</key>
		<string>airplayHostname</string>
		<key>Title</key>
		<string>AirPlay device hostname</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>airplayPassword</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>AirPlay password</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
